<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- handlerMapping -->
	<!-- 
	<bean id="handlerMapping" 
	class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"></bean>
	
	<bean name="/index.do"
	class="com.bit.spr.controller.ViewController">
		<property name="viewName" value="home"></property>
	</bean>
	<bean name="/intro.do"
	class="com.bit.spr.controller.ViewController"></bean>
	 -->
	<bean id="handlerMapping"
	class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="urlMap">
			<props>
				<prop key="/index.do">index</prop>
				<prop key="/intro.do">intro</prop>
				<prop key="/bbs/list.do">list</prop>
			</props>
		</property>
	
	</bean>
	<bean id="dao" class="com.bit.spr.model.Bbs06Dao1">
		<constructor-arg name="driver" value="oracle.jdbc.OracleDriver"></constructor-arg>
		<constructor-arg name="url" value="jdbc:oracle:thin:@localhost:1521:xe"></constructor-arg>
		<constructor-arg name="user" value="scott"></constructor-arg>
		<constructor-arg name="password" value="tiger"></constructor-arg>
	</bean>
	<bean id="index" class="com.bit.spr.controller.ViewController">
		<property name="viewName" value="home"></property>
	</bean>
	<bean id="intro" class="com.bit.spr.controller.ViewController">
		<property name="viewName" value="intro"></property>
	</bean>
	<bean id="list" class="com.bit.spr.controller.ListController">
		<property name="dao" ref="dao"></property>
	</bean>
	 
	 
	<!-- viewResolver -->
	<bean id="viewResolver" 
	class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
</beans>



















