<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- handlerMapping -->
	<!-- 
	<bean id="handlerMapping" 
	class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"></bean>
	
	<bean name="/index.do"
	class="com.bit.spr.controller.ViewController">
		<property name="viewName" value="home"></property>
	</bean>
	<bean name="/intro.do"
	class="com.bit.spr.controller.ViewController"></bean>
	 -->
	<bean id="handlerMapping"
	class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="urlMap">
			<props>
				<prop key="/index.do">index</prop>
				<prop key="/intro.do">intro</prop>
				<prop key="/bbs/list.do">list</prop>
				<prop key="/bbs/add.do">add</prop>
				<prop key="/bbs/insert.do">insert</prop>
				<prop key="/bbs/detail.do">detail</prop>
			</props>
		</property>
	</bean>
	<bean id="detail" class="com.bit.spr.controller.DetailController">
		<property name="dao" ref="dao"></property>
	</bean>
	<bean id="index" class="com.bit.spr.controller.ViewController">
		<property name="viewName" value="home"></property>
	</bean>
	<bean id="intro" class="com.bit.spr.controller.ViewController">
		<property name="viewName" value="intro"></property>
	</bean>
	<bean id="list" class="com.bit.spr.controller.ListController">
		<property name="dao" ref="dao"></property>
	</bean>
	<bean id="add" class="com.bit.spr.controller.ViewController">
		<property name="viewName" value="form"></property>
	</bean>
	<bean id="insert" class="com.bit.spr.controller.InsertController">
		<property name="supportedMethods" value="POST"></property>
		<property name="commandName" value="bean"></property>
		<property name="commandClass" value="com.bit.spr.model.entity.Bbs06Vo"></property>
		<property name="dao" ref="dao"></property>
	</bean>
	 
	 
	<!-- viewResolver -->
	<bean id="viewResolver" 
	class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
</beans>



















